<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script defer th:src="@{/js/script.js}"></script>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<nav th:replace="navbar :: navigation"></nav>
<div class="container">
    <div class="card mt-4 mb-3 border-primary shadow-sm">
        <h4 class="bg-light text-primary card-header">Register User:</h4>
        <div class="card-body">
            <form th:action="@{/people/register}" method="post" th:object="${form}">

                <div class="form-row">
                    <div class="col-sm-6 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">First Name</span>
                            </div>
                            <input class="form-control" type="text" id="first_name" placeholder="Write your first name here..." th:field="*{firstName}"/>
                        </div>
                        <div th:if="${#fields.hasErrors('firstName')}">
                            <ul class="p-0">
                                <li th:each="err : ${#fields.errors('firstName')}">
                                    <span class="text-warning font-italic" th:text="${err}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Last Name</span>
                            </div>
                            <input class="form-control" type="text" id="last_name" placeholder="Write your last name here..." th:field="*{lastName}"/>
                        </div>
                        <div th:if="${#fields.hasErrors('lastName')}">
                            <ul class="p-0">
                                <li th:each="err : ${#fields.errors('lastName')}">
                                    <span class="text-warning font-italic" th:text="${err}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                            </div>
                            <input class="form-control" type="text" id="email" placeholder="Enter a valid email address..." th:field="*{email}"/>
                        </div>
                        <div th:if="${#fields.hasErrors('email')}">
                            <ul class="p-0">
                                <li th:each="err : ${#fields.errors('email')}">
                                    <span class="text-warning font-italic" th:text="${err}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-row">

                    <div class="col-sm-6 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Password</span>
                            </div>
                            <input class="form-control" type="password" id="password" placeholder="Enter a valid password..." th:field="*{password}"/>
                        </div>
                        <div th:if="${#fields.hasErrors('password')}">
                            <ul class="p-0">
                                <li th:each="err : ${#fields.errors('password')}">
                                    <span class="text-warning font-italic" th:text="${err}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-6 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Password confirm</span>
                            </div>
                            <input class="form-control" type="password" id="confirm" placeholder="Confirm your password..." th:field="*{confirm}"/>
                        </div>
                        <div th:if="${#fields.hasErrors('confirm')}">
                            <ul class="p-0">
                                <li th:each="err : ${#fields.errors('confirm')}">
                                    <span class="text-warning font-italic" th:text="${err}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="form-row">
                    <div class="col-sm-12 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Birth date</span>
                            </div>
                            <input class="form-control" type="date" id="birth_date" placeholder="Enter your birth date (yyyy-mm-dd)..." th:field="*{birthDate}"/>
                        </div>
                        <div th:if="${#fields.hasErrors('birthDate')}">
                            <ul class="p-0">
                                <li th:each="err : ${#fields.errors('birthDate')}">
                                    <span class="text-warning font-italic" th:text="${err}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="btn-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>